<ion-header>
  <ion-toolbar color = "success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre o jogo</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    
     <ion-slide>
      <div class="slide">
          <b>O projeto</b><br>
         <p align="justify"><h6>Este material é um dos produtos gerados pela Mestranda Caroline Cortes Fortunato para o projeto de dissertação de Mestrado Profissional em Ensino de Biologia (PROFBIO), pela Universidade Federal do Rio de Janeiro (Instituto de Biologia). Intitulado: “TRABALHANDO FAKE NEWS ACERCA DE COVID-19 NAS AULAS DE BIOLOGIA COM O USO DE TECNOLOGIAS DIGITAIS DA INFORMAÇÃO E COMUNICAÇÃO - UM APLICATIVO EM FORMATO DE JOGO EDUCATIVO. ” <br> 
          Sob orientação da Professora Dra. Miriam Struchiner coordenadora do Laboratório de Tecnologias Cognitivas (LTC/NUTES), líder do grupo de pesquisa "Pesquisa e Desenvolvimento de Ambientes Construtivistas de Aprendizagem Presenciais e a Distância com o uso de Tecnologias da Informação e Comunicação". 
          <br> Contando também com o suporte para desenvolvimento da aplicação do Engenheiro de Computação Gustavo Fontes de O. Nascimento. 
          </h6>
      </div>

     </ion-slide>

     <ion-slide>
      <div class="slide">
        <b>Objetivos</b><br><br>
        <h6> Objetivo geral<br>
        Desenvolver um aplicativo em formato de jogo educativo, mediado por tecnologias digitais de informação e comunicação. Afim de auxiliar professores e alunos no processo ensino-aprendizagem de conteúdos da disciplina de Biologia e no letramento científico frente ao fenômeno das Fake News.<br>
      Objetivos específicos<br>
      - Trabalhar conteúdos curriculares de Biologia no ensino médio de modo contextualizado;<br>
      - Aproximar o conteúdo de Biologia ao perfil digital dos alunos por meio do uso de TDIC;<br>
      -Contribuir para formação de discentes com um olhar investigativo e crítico em relação ao conhecimento científico que circula na mídia e nas redes sociais;<br>
        </h6><br>
    </div>
     </ion-slide>     
     <ion-slide>
      <div class="slide">
        <b>Referências</b><br><br>
        <h6>
          <a href="https://www.paho.org/pt/brasil">OMS</a><br>
          <a href="https://portal.fiocruz.br/Covid19">Fiocruz</a><br>
          <a href="https://butantan.gov.br/covid/butantan-tira-duvida">Butantan</a><br> 
        </h6>
    </div>
     </ion-slide>
    </ion-slides>

