<ion-header>
  <ion-toolbar color = 'success'>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Aplicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    
     <ion-slide>
      <div class="slide">
          <b>Aplicação em sala de aula</b><br><br>
         Aos colegas professores:<br>
         <p align="justify"><h6>A preocupação dos professores de Biologia hoje, não consiste apenas em ensinar sobre doenças e seus agentes causadores, mas também em desmentir informações falsas e negligentes. 
         Então, caros colegas, é com muito carinho e esmero que disponibilizo este jogo educativo e toda a sua composição para uso parcial ou integral. Disponibilizo ainda meu contato para feedback, consulta, críticas ou qualquer assunto relacionado a este trabalho. carolinecfortunato@gmail.com <br>
         Espero que gostem do trabalho e possam utilizá-lo para aprimorar suas práticas no ensino de Biologia.</h6>
      </div>

     </ion-slide>
     <ion-slide>
      <div class="slide">
        <b>Conteúdos</b><br><br>
        <h6>O aplicativo FatoBio, em formato de jogo educativo para ser utilizado por professores e alunos, a fim de auxiliá-los no processo ensino-aprendizagem de conteúdos da disciplina de Biologia e no letramento científico frente ao fenômeno das Fake News acerca de Covid-19.<br> Trabalhando simultaneamente, conteúdos curriculares de Biologia no Ensino Médio sobre células, vírus, a sua disseminação e profilaxias, sistema imunológico, mutação e evolução.
        <br>
        </h6><br>
    </div>
     </ion-slide>
     <ion-slide>
      <div class="slide">
          <b>Aplicação</b><br><br>
          <h6>Recomenda-se que a aplicação e utilização do jogo em turma, se dê preferencialmente, em dupla ou grupo. E que os alunos sejam organizados de modo que nenhum individuo deixe de participar, promovendo a socialização das ideias e conceitos aprendidos. Para Moraes (1997, p.5), “o simples acesso à tecnologia, em si, não é o aspecto mais importante, mas sim, a criação de novos ambientes de aprendizagem e de novas dinâmicas sociais a partir do uso dessas novas ferramentas”.
          <br>
          </h6><br>
      </div>
        <br>
  
     </ion-slide>
     <ion-slide>
      <div class="slide">
          <b>Metodologia</b><br><br>
          <h6>Propõe-se que o professor inicie a utilização do aplicativo baseado nos princípios da metodologia ativa investigativa, onde o professor poderá dividir a turma em grupos sugerindo a divisão dos temas propostos na aba “hora da investigação”. Utilizando as perguntas norteadoras para abordar conteúdos de Biologia, na perspectiva do ensino por investigação.
          <br>
          O ensino por investigação é uma possível abordagem para o ensino de Biologia, na qual possa ser valorizada não só o aprendizado de conceitos, mas também de procedimentos característicos da ciência (como observação, levantamento de hipóteses e etc.) e o desenvolvimento de uma postura mais crítica e reflexiva sobre as temáticas apresentadas, que fazem com que o aluno se torne protagonista do aprendizado e estimulem o desenvolvimento do raciocínio.<br>
          ->
          </h6><br>
      </div>
        <br>
  
     </ion-slide>
     <ion-slide>
      <div class="slide">
          <b>continuação...</b><br><br>
          <h6>Fazendo assim, a passagem da ação de problematização para a construção intelectual dos conteúdos por parte do aluno, ao observar e criar hipóteses, afim de solucionar os problemas e questões propostas dentro de uma reflexão contextualizada com o cenário atual, devido a pandemia do novo coronavírus. <br>
            Após este momento e socialização das hipóteses, trazer para os alunos a proposta do jogo FatoBio onde os alunos terão a oportunidade de apender conceitos de Biologia por meio da desmistificação de Fake News que circulam ou circularam na rede durante a pandemia. Durante o jogo, os alunos testarão seus conhecimentos sobre covid-19, por meio de observação, discussão e investigação de forma a reconhecerem ou refutarem a veracidade ou não, de notícias falsas (fake) ou verdadeiras (fato), que foram divulgadas. 
          </h6><br>
      </div>
        <br>
  
     </ion-slide>
     <ion-slide>
      <div class="slide">
          <b>Avaliação</b><br><br>
          <h6>Sugere-se que a avaliação tenha um enfoque qualitativo, levando em consideração a participação e interação dos alunos durante as atividades, como o levantamento de hipóteses e argumentação.  De acordo com Jiménez-Aleixandre et all., (2000, p. 759), além de ensinar ciências (ou qualquer outro conteúdo específico) a escola exige também do professor outras funções, como, por exemplo, a de avaliar seus alunos. Assim precisamos tornar compatíveis os objetivos do ensino realizado pelas atividades do projeto, com a avaliação da aprendizagem dos alunos. Observando e analisando o envolvimento e engajamento durante a prática e a aquisição de capacidade argumentativa dos discentes em relação aos conceitos da disciplina de Biologia que serão permeados na aplicação do jogo, através do letramento científico. Para isso devemos estar atentos as atitudes exibidas pelos alunos durante as atividades.
          </h6><br>
      </div>
        <br>
  
     </ion-slide>
     
  </ion-slides>

</ion-content>

