<ion-header>
  <ion-toolbar color = 'success'>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Aplicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    
     <ion-slide>
        <ul>
         <li>Leia atentamente as notícias</li><br>
         <li>Relacione sempre o conteúdo das notícias com os seus conhecimentos adquiridos nas aulas de Biologia</li><br>
         <li>Escolha as opções de acordo com as suas observações sobre: a fonte, a data e o posicionamento das notícias</li><br>
        </ul>
     </ion-slide>
     <ion-slide>
      <ul>
      <li>Nem sempre uma notícia sem fonte ou data será falsa, e nem toda notícia com fonte será necessariamente verdadeira</li><br>
      <li>Cheque as fontes</li><br>
      <li>Esteja atento a mais de um ponto de observação</li><br>
       </ul>
     </ion-slide>
     <ion-slide>
       <ul>
      <li>Caminhe para a conclusão de forma investigativa</li><br>
      <li>Faça perguntas sobre as notícias e busque respostas</li><br>
      <li>Debata a sua opinião com seus colegas</li><br>
      <li>Estabeleça qual seria a sua hipótese sobre a notícia</li><br>
    </ul>
  
     </ion-slide>
     
  </ion-slides>

</ion-content>

